# === This is a 'starter' project .gitignore file ===

# Debug scripts:
*_debug.js

# Text files
*.txt

# Readings
[readings]/*

# Other code testing scripts:
*0.js
*1.js
*2.js

# jEdit's backup files
*~